body{
    margin:0;
    font-family: "myFont";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;    
}


@font-face{
    font-family: 'myFont';
    src: url('../fonts/GOTHIC.TTF');
}


a{
    text-decoration: none;
    color:#000;
}

li{
    list-style: none;
}

#nav-bar{
    width:100%;
    position:fixed;
    z-index:1;
    top:0;
    left: 0;
    right:0;
    background-color:#000016;
}

#nav-bar a{
    
    padding:10px 14px;
    color:#ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.897), inset 0 0 0 4px rgba(255, 255, 255, 0.8);
}

#nav-bar a:hover{
    transition-duration: 0.9s;
    background-color:#ffffff33;
}

.nav-logo{
    float:left;
    display:block;
}
.nav-item{
    float:right;
    display:block;
}


#dropdown-menu{
    position:absolute;
    display:none;
    width:15%;
    padding:30px;
    position:fixed;
    height:100%;
    background-color:#000016;
}

.drop-menu{
    margin:15px;
}
.drop-item {
    font-size:18px;
    font-weight: bold;
    color:#fff;
    margin:15px;
    display:block;
    text-align:left;
}

.drop-item:hover{
    color:#fff;
    text-decoration: underline;
    font-size:20px;
    transition-duration: 0.4s;
}


#banner{
    width:100%;
    height:900px;
    background-image:url("../bg/mobile-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-txt{
    padding-top:270px;
    color:#fff;
    text-align:center;
}
.banner-lead{
    font-size:35px;
    font-weight:bolder;
    color:#ffffff;
    text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
}
.banner-txt p{
    font-size:28px;
    color:#ffffff;
    text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
}
.banner-btn{
    color:#000016;
    background-color:#ffffff;
    height:55px;
    border:0px;
    border-radius:5px;
    font-size:23px;
    font-weight: bold;
    padding:8px;
    cursor: pointer;
}
.banner-btn:hover{
    color:#ffffff;
    background-color:#000016d2;
    height:55px;
    border:2px solid #ffffff;
    border-radius:8px;
    transition-duration: 0.5s;
}

#we-do{
    width:100%;
    text-align: left;
    background-color: #f3f3f3;
    display:block;
    height:400px;
}
.we-do-logo{
    width:100%;
    display:none;
}
.we-do-more{
    padding:20px 30px;
}

.we-txt{
    font-size: 25px;
    margin:30px;
    color:#000016;
    font-weight:bolder;
}

.we-item{
    display:inline-flex;
    font-size:20px;
    font-weight: bold;
    color:#000016;
    width:300px;
    margin-left:20px;
}
/*
#client{
    display:block;
    width:100%;
    height:auto;
    background-color:#f3f3f3;
}
.client-txt{
    font-size:20px;
    margin:30px;
    color:#000016;
}
.client-item{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
*/
#footer{
    width:100%;
    height:auto;
    bottom:0;
    left:0;
    right:0;
    background-color: #000016;
}
.footer-item{
    padding:20px 30px;
    display:block;
    text-align:center;
}

.footer-item h4{
    font-size:20px;
    margin:30px;
    color:#fff;
}

.news{
    width:220px;
    height:30px;
    padding:5px;
}

.btn{
    border:0px;
    padding:10px;
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
    font-size:20px;
}

.footer-item p{
    color:#fff;
    font-size:12px;
}
.social-item{
    color:#fff;
    padding:15px 8px;
    font-size:20px;
    text-align:center;
}



@media (min-width:300px) and (max-width:600px){
    body{
        margin:0;
        background: #ffffff;
    }
    #nav-bar{
        width:100%;
        position:fixed;
        z-index:1;
        top:0;
        left: 0;
        right:0;

    }
    
    #dropdown-menu{
        position:absolute;
        display:none;
        width:100%;
        padding:30px;
        position:fixed;
        height:auto;
        background-color:#000016fd;
    }

    .drop-menu{
        margin:15px;
    }
    .drop-item {
        font-size:18px;
        font-weight: bold;
        color:#fff;
        margin:15px;
        display:block;
        text-align:left;
    }

    .drop-item:hover{
        color:#fff;
        text-decoration: underline;
        font-size:20px;
        transition-duration: 0.4s;
    }
    #banner{
        width:100%;
        height:650px;
        background-image:url("../bg/mobile-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-txt{
        color:#fff;
        font-size:30px;
        text-align:center;
        padding-top:250px;
    }
    .banner-lead{
        font-size:30px;
        font-weight:bolder;
        color:#ffffff;
        text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
    }
    .banner-txt p{
        font-size:18px;
        color:#ffffff;
        text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
    }
    .banner-btn{
        color:#000016;
        background-color:#ffffff;
        height:50px;
        border:0px;
        border-radius:5px;
        font-size:21px;
        font-weight: bold;
        padding:5px;
        cursor: pointer;
    }
    .banner-btn:hover{
        color:#ffffff;
        background-color:#000016d2;
        height:50px;
        border:2px solid #ffffff;
        border-radius:5px;
        transition-duration: 0.5s;
    }

    #we-do{
        width:100%;
        text-align: left;
        background-color: #f3f3f3;
        display:block;
        height:auto;
    }
    .we-do-logo{
        width:100%;
        display:block;
    }
    .we-do-more{
        padding:10px 5px;
    }
    
    .we-txt{
        font-size: 18px;
        margin:15px;
        color:#000016;
        font-weight:bolder;
    }
    
    .we-item{
        display:inline-flex;
        font-size:16px;
        font-weight: bold;
        color:#000016;
        width:300px;
        margin-left:15px;
    }
    /*
    #client{
        display:block;
        width:100%;
        height:auto;
        background-color:#f3f3f3;
    }
    .client-txt{
        font-size:20px;
        margin:30px;
        color:#000016;
    }
    .client-item{
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
    }
    */
    #footer{
        width:100%;
        height:auto;
        bottom:0;
        background-color: #000016;
    }
    .footer-item{
        padding:20px 30px;
        display:block;
        text-align:center;
    }

    .footer-item h4{
        font-size:20px;
        margin:30px;
        color:#fff;
    }

    .news{
        width:220px;
        height:30px;
        padding:5px;
    }

    .btn{
        border:0px;
        padding:10px;
        background-color:rgba(255, 255, 255, 0);
        color:#fff;
        font-size:20px;
    }

    .footer-item p{
        color:#fff;
        font-size:12px;
    }
    .social-item{
        color:#fff;
        padding:15px 8px;
        font-size:20px;
        text-align:center;
    }

}

@media (min-width:620px) and (max-width:1025px){
    body{
        margin:0;
        background: #ffffff;
    }
    #nav-bar{
        width:100%;
        position:fixed;
        z-index:1;
        top:0;
        left: 0;
        right:0;

    }
    
    #dropdown-menu{
        position:absolute;
        display:none;
        width:100%;
        padding:30px;
        position:fixed;
        height:auto;
        background-color:#000016fd;
    }

    .drop-menu{
        margin:15px;
    }
    .drop-item {
        font-size:18px;
        font-weight: bold;
        color:#fff;
        margin:15px;
        display:block;
        text-align:left;
    }

    .drop-item:hover{
        color:#fff;
        text-decoration: underline;
        font-size:20px;
        transition-duration: 0.4s;
    }
    #banner{
        width:100%;
        height:900px;
        background-image:url("../bg/mobile-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-txt{
        padding-top:300px;
        font-size:30px;
        color:#fff;
        text-align:center;
    }
    .banner-lead{
        font-size:35px;
        font-weight:bolder;
        color:#ffffff;
        text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
    }
    .banner-txt p{
        font-size:28px;
        color:#ffffff;
        text-shadow: 0 0 25px rgb(0, 0, 0), inset 0 0 0 4px rgba(255, 255, 255, 0.795);
    }
    .banner-btn{
        color:#000016;
        background-color:#ffffff;
        height:55px;
        border:0px;
        border-radius:5px;
        font-size:23px;
        font-weight: bold;
        padding:8px;
        cursor: pointer;
    }
    .banner-btn:hover{
        color:#ffffff;
        background-color:#000016d2;
        height:55px;
        border:2px solid #ffffff;
        border-radius:8px;
        transition-duration: 0.5s;
    }

    #we-do{
        width:100%;
        text-align: left;
        background-color: #f3f3f3;
        display:block;
        height:auto;
    }
    .we-do-logo{
        width:100%;
        display:none;
    }
    .we-do-more{
        padding:10px 15px;
    }
    
    .we-txt{
        font-size: 25px;
        margin:20px;
        color:#000016;
        font-weight:bolder;
    }
    
    .we-item{
        display:inline-flex;
        font-size:20px;
        font-weight: bold;
        color:#000016;
        width:300px;
        margin-left:15px;
    }
    /*
    #client{
        display:block;
        width:100%;
        height:auto;
        background-color:#f3f3f3;
    }
    .client-txt{
        font-size:20px;
        margin:30px;
        color:#000016;
    }
    .client-item{
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
    }
    */
    #footer{
        width:100%;
        height:auto;
        bottom:0;
        left:0;
        right:0;
        background-color: #000016;
    }
    .footer-item{
        padding:20px 30px;
        display:block;
        text-align:center;
    }

    .footer-item h4{
        font-size:20px;
        margin:30px;
        color:#fff;
    }

    .news{
        width:220px;
        height:30px;
        padding:5px;
        
    }

    .btn{
        border:0px;
        padding:10px;
        background-color:rgba(255, 255, 255, 0);
        color:#fff;
        font-size:20px;
    }

    .footer-item p{
        color:#fff;
        font-size:12px;
    }
    .social-item{
        color:#fff;
        padding:15px 8px;
        font-size:20px;
        text-align:center;
    }

}
